/*
* Lanka Icons DEV
*/
@font-face {
    font-family: 'LankaIcons';
    font-style: normal;
    font-weight: normal;
    src: url("LankaIcons.ttf"),format("trutype");
    src: url("LankaIcons.woff"),format("woff");
    src: url("LankaIcons.woff2") format("woff2");
}

.lki{
    font-family: 'LankaIcons';
    font-style: normal;
    display:inline-block;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.cross:before {content: "\271D";}
.starAndCrescent:before {content: "\262A";}
.wheelOfDharma:before {content: "\2638";}
.lki-lkflaglion:before {content: "\E000";}
.lki-flaglion-outline:before {content: "\E001";}
.lki-sls:before {content: "\E010";}
.lki-budusaranayi:before {content: "\F000";}
.lki-bulath:before {content: "\F100";}
.lki-pahan:before {content: "\F101";}
.lki-stupa:before {content: "\F102";}
.lki-elephantL:before {content: "\F300";}
.lki-elephantR:before {content: "\F301";}
.lki-punkalasa:before {content: "\F302";}
.lki-bahirawa:before {content: "\F400";}
.lki-walakul:before {content: "\F401";}
.lki-kambi:before {content: "\F500";}
.lki-tutuk:before {content: "\F600";}
