/*
*
*/
@font-face {
    font-family: 'LankaIcons';
    font-style: normal;
    font-weight: normal;
    src: url("LankaIcons.ttf"),format("trutype");
    src: url("LankaIcons.woff"),format("woff");
    src: url("LankaIcons.woff2") format("woff2");
}

.ls{
    font-family: 'LankaIcons';
    font-style: normal;
    display:inline-block;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.ls-lkflaglion:before {
    content: "\e000";
}

.ls-sls:before {
    content: "\e002";
}

.ls-budusaranayi:before {
    content: "\e003";
}
