/*
* Lanka Symbols DEV
*/
@font-face {
    font-family: 'LankaSymbols';
    font-style: normal;
    font-weight: normal;
    src: url("LankaSymbols.ttf?v0.010DEV#02ff122"),format("trutype");
    src: url("LankaSymbols.woff?v0.010DEV#02ff122"),format("woff");
    src: url("LankaSymbols.woff2?v0.010DEV#02ff122") format("woff2");
}

.lks{
    font-family: 'LankaSymbols';
    font-style: normal;
    display:inline-block;
    font-size:inherit;
    text-rendering:auto;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}

.lks-star-and-crescent:before {content: "\262A";}
.lks-wheel-of-dharma:before {content: "\2638";}
.lks-cross:before {content: "\271D";}
.lks-lk-flag-lion:before {content: "\EC7F";}
.lks-lk-flag-lion-o:before {content: "\EC80";}
.lks-gov:before {content: "\EC81";}
.lks-sls:before {content: "\EC82";}
.lks-budusaranayi:before {content: "\EE94";}
.lks-punkalasa:before {content: "\F0A9";}
.lks-stupa:before {content: "\F0B0";}
.lks-elephant-l-br:before {content: "\F2BE";}
.lks-elephant-r-br:before {content: "\F2BF";}
.lks-bahirawa-br:before {content: "\F2C0";}
.lks-bulath:before {content: "\F4D3";}
.lks-pahan:before {content: "\F4D4";}
.lks-tuk:before {content: "\F4D6";}
.lks-kambi-br:before {content: "\F6E8";}
.lks-walakul-br:before {content: "\F6E9";}
