<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>808</integer>
    <key>capHeight</key>
    <integer>740</integer>
    <key>copyright</key>
    <string>Copyright 2018 Lanka Symbols font project Authors, Copyright 2012 The Encode Project Authors</string>
    <key>descender</key>
    <integer>-220</integer>
    <key>familyName</key>
    <string>LankaSymbols</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2018/02/14 09:37:36</string>
    <key>openTypeNameDescription</key>
    <string>Icons for Sri Lanka</string>
    <key>openTypeNameDesigner</key>
    <string>Multiple Designers</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>http://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>Mooniak</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://mooniak.com/</string>
    <key>openTypeNamePreferredFamilyName</key>
    <string>Lanka Symbols</string>
    <key>openTypeNameVersion</key>
    <string>Version 0.010; DEV</string>
    <key>openTypeOS2CodePageRanges</key>
    <array>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>60</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>MNKK</string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>postscriptFontName</key>
    <string>LankaSymbols</string>
    <key>styleMapFamilyName</key>
    <string>Regular</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>0</integer>
    <key>versionMinor</key>
    <integer>10</integer>
    <key>xHeight</key>
    <integer>543</integer>
  </dict>
</plist>
